
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  color: #fff;
}

.convert-container {
  padding-top: 38px;
  display: flex;
  justify-content: center;
}

.result-container {
  font-size: 44px;
}